<div fxLayout="column">
    <div>
        <h1>Search Hero</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Hero</mat-label>
            <input type="text" 
                    placeholder="Pick one" 
                    aria-label="Hero" 
                    matInput 
                    [(ngModel)]="term"
                    [matAutocomplete]="auto"
                    (input)="searching()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                (optionSelected)="optionSelected( $event )">
                <mat-option *ngFor="let hero of suggestions" [value]="hero">
                    {{hero.superhero}}
                </mat-option>
                <mat-option value="" *ngIf="suggestions.length === 0 && term.trim().length !== 0">
                    No Heroes Found with: {{ term }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div *ngIf="selected_hero">
        <app-hero-card [hero]="selected_hero"></app-hero-card>
    </div>
</div>