<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Go To Login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Go To Register</a>
    </li>
    <li>
        <a routerLink="/heroes/list">Heroes list</a>
    </li>
    <li>
        <a routerLink="/heroes/add">Heroes add</a>
    </li>
    <li>
        <a routerLink="/heroes/edit/:id">Heroes edit</a>
    </li>
    <li>
        <a routerLink="/heroes/search">Heroes search</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">Heroe</a>
    </li>
</ul>

